

.testimonial-banner{
    background: linear-gradient(#000, rgba(0, 0, 0, 0.322)), url("https://res.cloudinary.com/dgq51r8zo/image/upload/v1655191486/hybrid_feature_z3nh2s.webp") center fixed;
    background-size: cover;
}

.masthead-bg{
  background: linear-gradient(#fff, #fff, rgba(252, 252, 252, 0.795)), url("https://res.cloudinary.com/dgq51r8zo/image/upload/v1655191571/ezgif.com-gif-maker_gkpjye.webp") center;
  background-size: cover;
}